<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scr/md5.js"></script>
    <script src="/scr/punto1.js"></script>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <enlace rel=”hoja de estilo” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow” integridad=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anónimo”>
</head>
<body>
    <header>
        <p>By: Miguel Perez</p>
    </header>
    <nav>
        <a href="#punto_1" class="nav-enlace">Punto 1</a>
        <a href="#punto_2" class="nav-enlace">Punto 2</a>
        <a href="#punto_3" class="nav-enlace">Punto 3</a>
    </nav>

    <section>
        <p>Genere el código con su nombre en el siguiente link: <a href="https://codebeautify.org/md5-hash-generator"> Generator md5_hash</a> <br /></p>
        <label>Ingrese el código md5 hash: </label> <br />
        
        <input type="text" id="valor1"><br />
        <sub id = "campo_texto">
            <input type="button" value="Calcular" onclick="mostrar()">
        </sub>
        <h3>Resultado:</h3>
        <p id="resultado"></p>       
    </section>

    <section>
        <h3 id="punto_1" name="punto_1">Code challenge one</h3>
        <div id="contenedor">
            <div>
                <label>Ingrese cadena: </label> <br />
                <div id="contenedor2">
                    <div id="corcheteref">
                        <p id="corchete">[</p>
                    </div>
                    <div>
                        <input type="text" id="valor2"><br />
                    </div>
                    <div id="corcheteref">
                        <p id="corchete2">]</p>
                    </div>
                </div>
                
                <sub id = "campo_texto">
                    <input type="button" value="Calcular2" onclick="mostar_punto1()">
                </sub>
            </div>
            <div>
                <label>Ingrese Valor de S: </label> <br />
                <input type="text" id="valor3"><br />
            </div>
        </div>

        <h3>Resultado:</h3>
        <p id="resultado2"></p>  

    </section>

    <section>
        <h3 id="punto_2" name="punto_2">Code challenge two</h3>
    </section>

    <section >
        <h3 id="punto_3" name="punto_3">Code challenge three</h3>
    </section>

</body>
</html